body {
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    margin: 20px;
}
#photo {
    max-width: 400px;
    border-radius: 20px;
    display: block;
    margin: 15px;
}
a:hover{
    color: blue;
}