body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.header {
    background-color: lightblue;
    padding: 30px;
    text-align: center;
}
.header h1 {
    margin: 0;
    font-size: 36px;
}
.navbar {
    background-color: darkblue;
    padding: 15px;
    text-align: center;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    margin: 0 20px;
    font-size: 17px;
}
.navbar a:hover{
    color: lightblue;
}
.sidebar {
    float: left;
    width: 15%;
    margin: 20px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
}
.main-content {
    float: right;
    width: 70%;
    margin: 20px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}
.main-content img{
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin-top: 15px;
}
.footer {
    clear: both;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 15px;
}